* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.main {
  margin-top: -5.2vh;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.container {
  min-height: 69vh;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

.container-column {
  flex: 1;
  max-width: 50rem;
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.component {
  flex: 0;
  flex-wrap: wrap;
  border: 5px solid grey;
  border-radius: 20px;
  margin: 0rem 0 1rem 0;
  background: linear-gradient(
    215deg,
    rgba(151, 145, 250, 1) 0%,
    rgba(85, 85, 163, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.component li {
  color: linear-gradient(
    90deg,
    rgba(58, 180, 101, 1) 0%,
    rgba(29, 253, 232, 1) 36%,
    rgba(41, 119, 200, 1) 66%,
    rgba(252, 69, 245, 1) 100%
  );
  list-style-position: inside;
  margin: 0rem 1rem;
}

.component h1 {
  color: linear-gradient(
    90deg,
    rgba(58, 180, 101, 1) 0%,
    rgba(29, 253, 232, 1) 36%,
    rgba(41, 119, 200, 1) 66%,
    rgba(252, 69, 245, 1) 100%
  );
  text-align: center;
  margin: 0.1rem;
}

.component p {
  text-align: center;
  word-wrap: break-word;
}

.component img {
  display: block;
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.component video {
  display: block;
  border-radius: 15px;
}

.component iframe {
  display: block;
  width: 100%;
  height: 35vh;
  border-radius: 15px;
  margin-bottom: -1rem;
}

.center-text {
  font-size: 80px;
  background: -webkit-linear-gradient(
    rgba(58, 180, 101, 1),
    rgba(29, 253, 232, 1),
    rgba(41, 119, 200, 1),
    rgba(252, 69, 245, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
